
@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black; 
    margin: 10px;
    border: none;
    background-color: black;
}
.nav-items > ul {
    list-style: none;
    display: flex;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.logo{
   width: 120px;
   margin: 10px;

}
.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.card>img{
    width: 100%;
}
.restaruants-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.restaurants-list {
    display: flex;
    flex-wrap: wrap;
} 

 .shimmer {
    width: 100%;
    max-width: 300px;
    height: 200px;
    background: linear-gradient(90deg, #333 25%, #444 50%, #333 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
    margin: 16px;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}